*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
    padding:40px;
}

.main-box{
    background:white;
    width:90%;
    max-width:1100px;
    margin:auto;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    margin-bottom:25px;
    color:#222;
}

.menu{
    margin-top:20px;
    margin-bottom:20px;
}

.menu a,
.menu-links a{
    text-decoration:none;
    background:#222;
    color:white;
    padding:10px 16px;
    border-radius:6px;
    margin-right:10px;
    display:inline-block;
    transition:0.2s;
}

.menu a:hover,
.menu-links a:hover{
    background:#444;
}

table{
    width:100%;
    border-collapse:collapse;
    background:white;
}

table tr th{
    background:#222;
    color:white;
    padding:14px;
}

table tr td{
    padding:12px;
    border:1px solid #ddd;
}

table tr:nth-child(even){
    background:#f8f8f8;
}

input,
select{
    width:100%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:6px;
    margin-top:6px;
}

button{
    background:#222;
    color:white;
    border:none;
    padding:12px 18px;
    border-radius:6px;
    cursor:pointer;
}

button:hover{
    background:#444;
}

form{
    max-width:500px;
}

p{
    margin-bottom:15px;
}

.status-approved{
    color:green;
    font-weight:bold;
}

.status-rejected{
    color:red;
    font-weight:bold;
}

.status-pending{
    color:orange;
    font-weight:bold;
}